@model TheWorld.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}

<!-- Because the scripts are brought in at the end of _Layout.cshtml body AFTER the place its needed (which is here) -->
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2>Contact</h2>
<div class="row">
    <div class="col-md-6">
        <form method="POST">
            @if (ViewBag.Message != null)
            {
                <div>@ViewBag.Message</div>
            }
            <div asp-asp-validation-summary="ValidationSummary.ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-muted" asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" type="email" asp-for="Email" />
                <span class="text-muted" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea class="form-control" cols="40" rows="4" asp-for="Message"></textarea>
                <span class="text-muted" asp-validation-for="Message"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Send Message" />
                <a asp-controller="App" asp-action="Index" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>